* {
  margin: 0;
  padding: 0;
}

.logo-container {
  padding: 2rem 4rem;
  width:100%;
  margin: 0 auto;
  flex-shrink:1;
}

.container {
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow:1;
  background-color: #eeecec;
  padding:4rem 4rem;
}

.form-container {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding:2rem;
}

h1 {
  background: black;
  color: white;
  text-align: center;
  padding: 1rem 4rem;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-size: 62px;
  flex-shrink:1;
}

label {
    font-family: "Fira Sans", sans-serif;
}

input {
    width:100%;
    padding:1rem 0;
    font-size:1rem;
    border:1px solid grey;
    color:grey;
}

input[type="text"] {
  margin-top: 0.4rem;
}

#submit-button {
  width: 100%;
  padding: 1rem;
  background: rgb(227, 1, 43);
  border: none;
  font-family: "Fira Sans", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

#submit-button:hover {
  background-color: rgb(204, 6, 43);
  cursor: pointer;
}
